repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: yamllint
        name: YAML Lint
        entry: yamllint
        args: [-c, .yamllint]
        language: system
        types: [yaml]

      - id: kube-linter
        name: Kube-Linter
        entry: kube-linter
        args: [lint, apps]
        language: system
        types: [yaml]
        pass_filenames: false

      - id: sops-encryption-check
        name: SOPS Encryption Check
        entry: /bin/bash -c
        args:
          - |
            SECRETS=$(find . -name "*.secret.yaml");
            for file in $SECRETS; do
              if ! grep -q "sops" "$file"; then
                echo "Error: $file is not encrypted with SOPS!";
                exit 1;
              fi;
            done
        language: system
        always_run: true
