extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    indent-sequences: consistent
  document-start: disable
  document-end: disable
  quoted-strings: disable
  key-ordering: disable
  octal-values:
    level: error
ignore: |
  .git/
  .github/
