kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

nodes:
  - role: control-plane
    image: kindest/node:v1.31.0

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: &nvidia
      - hostPath: /dev/dxg
        containerPath: /dev/dxg
      - hostPath: /usr/lib/wsl/lib
        containerPath: /usr/lib/wsl/lib

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

containerdConfigPatches:
  - |
    [plugins."io.containerd.grpc.v1.cri".containerd]
      default_runtime_name = "nvidia"
    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia]
      runtime_type = "io.containerd.runc.v2"
      privileged_without_host_devices = false
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia.options]
        BinaryName = "/usr/bin/nvidia-container-runtime"
