kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

nodes:
  - role: control-plane
    image: kindest/node:v1.31.0
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        protocol: TCP

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: &nvidia
      - hostPath: /dev/dxg
        containerPath: /dev/dxg
      - hostPath: /dev/nvidia0
        containerPath: /dev/nvidia0
      - hostPath: /dev/nvidiactl
        containerPath: /dev/nvidiactl
      - hostPath: /dev/nvidia-uvm
        containerPath: /dev/nvidia-uvm
      - hostPath: /dev/nvidia-uvm-tools
        containerPath: /dev/nvidia-uvm-tools
      - hostPath: /usr/lib/wsl
        containerPath: /usr/lib/wsl

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

  - role: worker
    image: homelab-kind-nvidia:v1.31.0
    labels:
      nvidia.com/gpu.present: "true"
    extraMounts: *nvidia

containerdConfigPatches:
  - |
    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia]
      runtime_type = "io.containerd.runc.v2"
      privileged_without_host_devices = false
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia.options]
        BinaryName = "/usr/bin/nvidia-container-runtime"
