prometheus:
  prometheusSpec:
    retention: 1d
    storageSpec:
      emptyDir:
        medium: Memory

grafana:
  persistence:
    enabled: false
  ingress:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/hostname: "grafana.unbund.com"
    hosts: ["grafana.unbund.com"]
